<h1>New Plant Form</h1>
<%= form_for @plant, url: garden_plants_path, method: "post"   do |f| %>
  <% if @plant.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

        <ul>
        <% @plant.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
  <% end %>
  <%= f.label(:name) %> <br>
  <%= f.text_field :name %> <br>
  <%= f.label(:species) %> <br>
  <%= f.text_field :species %> <br>
  <%= f.label(:strain) %> <br>
  <%= f.text_field :strain %> <br>
  <%= f.radio_button :sex, "Male" %> 
  <%= f.label(:sex, "Male") %><br>
  <%= f.radio_button :sex, "Female" %> 
  <%= f.label(:sex, "Female") %><br>
  <%= f.radio_button :sex, "Herm" %> 
  <%= f.label(:sex, "Herm") %><br>
  <%= f.radio_button :sex, "Other" %> 
  <%= f.label(:sex, "Other") %><br>
  <%= f.label(:time_until_harvest, "Est. Time Til harvest (days)") %><br>
  <%= f.number_field :time_until_harvest %> <br>
  <%= f.submit %> <small>
  <%=link_to "Cancel", user_garden_path(current_user, @garden) %></small>
<% end %>

<!-- >