<div id="plant" data-id="<%= @plant.id%>"></div>

<%= form_for @plant.comments.build, url: plant_comments_path(@plant), method: "post" do |comment_form| %>
  <% if @comment%>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
  <%= comment_form.label(:contents, "Comment") %><br>
  <%= comment_form.text_area :contents %><br>
  <%= comment_form.submit data: { disable_with: false }%>
<% end %>

<h2>Links:</h2>
<p><%= link_to "Back to #{@plant.garden.name}", garden_path(@plant.garden) %> </p>
<p><%= link_to 'My Gardens', user_gardens_path(current_user) %> </p>
<p><%= link_to('Logout', destroy_user_session_path, method: :delete) %> </p>