<h1>Gardens Index Page <small><%= link_to "Create New Garden", new_user_garden_path(current_user) %></small></h1>

<ul>
  <% @gardens.each do |garden|%>
    <li>
      <%=link_to garden.name, user_garden_path(current_user, garden) %>
    </li>
  <% end %>
</ul>

<h2>Links:</h2>
<p><%= link_to 'All Gardens', gardens_path %> </p>
<p><%= link_to 'My Gardens', user_gardens_path(current_user) %> </p>
<p><%= link_to('Logout', destroy_user_session_path, method: :delete) %> </p>