<h1><%=@garden.name%> <small><%= link_to 'Edit', edit_garden_path(@garden) %>  |  <%= link_to 'Delete', user_garden_path(current_user, @garden), method: "delete" %></small></h1>

<h3>Start Date: <%=@garden.start_date.strftime("%m/%d/%Y") if @garden.start_date %></h3>

<h3>End Date: <%=@garden.end_date.strftime("%m/%d/%Y") if @garden.end_date%></h3>

<h1>Plants <small><%= link_to 'Create Plant', new_garden_plant_path(@garden) %></small></h1>

<% if !@plants.nil?%>
  <ul>
    <% @plants.each do |plant|%>
      <li>
        <%= link_to plant.name, garden_plant_path(@garden, plant)%>
      </li>
    <% end %>
  </ul>
<% end %>

<h2>Links:</h2>
<p><%= link_to 'My Gardens', user_gardens_path(current_user) %> </p>
<p><%= link_to('Logout', destroy_user_session_path, method: :delete) %> </p>