<h1><%=@garden.name%></h1>
<h1>Start Date: <%=@garden.start_date.strftime("%m/%d/%Y")%></h1>
<h1>End Date: <%=@garden.end_date.strftime("%m/%d/%Y")%></h1>
<ul>
  <% @plants.each do |plant|%>
    <li>
      <%= link_to plant.name, garden_plant_path(@garden, plant)%>
    </li>
  <% end %>
</ul>

<p><%= link_to 'Create Plant', new_garden_plant_path(@garden) %> </p>
<p><%= link_to('Logout', destroy_user_session_path, method: :delete) %> </p>